# vim:sw=2:ts=2
name: ci

# on events
on:
  push:
    branches:
      - master
      - 'feature/*'
  pull_request:
    branches:
      - master
      - 'feature/*'

jobs:
  call-ci:
    uses: phoenix-rtos/phoenix-rtos-project/.github/workflows/ci-submodule.yml@master
    secrets: inherit
    with:
      build_params: all tests
      nightly: true

  debug:
    if: ${{ failure() }}
    runs-on: ubuntu-latest
    needs: call-ci
    steps:
      - name: Start tmate SSH session
        uses: mxschmitt/action-tmate@v3
