name: Runner CI

on:
  push:
    branches:
      - master
    paths:
      - '**.py'
      - 'trunner/**'
  pull_request:
    branches:
      - master
    paths:
      - '**.py'
      - 'trunner/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
    - uses: actions/checkout@v6

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        pip install -r requirements.txt

    - name: Setup flake8 annotations
      uses: rbialon/flake8-annotations@v1

    - name: Lint with flake8
      run: |
        flake8 . --max-line-length 120 --exclude ./net

      # TODO rewrite test for runner v2
      #- name: Test with pytest
      #  run: |
      #    pytest trunner/test
